Flask
Werkzeug
psycopg2-binary
openpyxl
pandas
pdfplumber
PyJWT
flask-cors
flask-limiter
python-dotenv
marshmallow==3.21.0
marshmallow-enum
apispec==6.6.0
redis
flask-sqlalchemy
flask-redis
flask-migrate
celery
sendgrid
firebase-admin
flask-smorest==0.44.0
factory-boy
faker
pytest
pytest-cov
bandit
flake8
black
gunicorn
gevent
sentry-sdk[flask]
flask-jwt-extended
flasgger
cryptography
flask-socketio
gevent
greenlet
prometheus-flask-exporter
weasyprint
reportlab
pillow
qrcode
PyPDF2
matplotlib
flask-wtf

